.articlesearch
  .search_text
    気になる本の記事を検索
  = form_tag(searcheds_path,:method => 'get') do
    = text_field_tag :search
    = submit_tag 'Search', :name => nil

%h3
  人気記事top5
.cards
  - @article_ranking.each do |rank|
    = link_to article_path(rank), class:'card' do
      .article_toppage
        .book_image
          = image_tag rank.image_url   
        .article_details     
          .article_title
            = rank.title
          .book_title
            = rank.book_title
          .author_name
            = rank.author
          .article_toppage_content
            = rank.content[0,50]
      .article_toppage_heart
        = image_tag 'heart.svg', class: 'iine-image'
        %span= rank.likes.count

= render 'commons/articles', articles: @articles


= link_to searchs_path do
  .float_btn
    %i.fa.fa-plus