= image_tag @article.image_url
= @article.book_title
= @article.author
= @article.title
= @article.content
= link_to '編集する', edit_article_path(@article), class: 'text-decoration'
= link_to '削除する', article_path(@article),class: 'text-decoration' , data: {method: 'delete', confirm: '本当に削除してもよろしいですか'}
