- ranks.each do |rank|
  = image_tag rank.image_url
  = rank.book_title
  = rank.author
  = rank.title

.cards
  - articles.each do |article|
    = link_to article_path(article), class: 'card' do
      = image_tag article.image_url
      = article.book_title
      = article.author
      = article.title

= link_to '追加', searchs_path