.profile
  .profile_flex
    = image_tag user&.avatar_image, class: 'profile_icon'
    
    .profile_actionButton
      - if user == current_user 
        = link_to edit_profile_path do
          .edit_btn
            .edit_text 
              Edit 
      - else 
        - if current_user&.has_followed?(user)
          = link_to account_unfollows_path(user), data: {method: 'post'} do
            .edit_btn
              .edit_text
                Unfollow
        - else
          = link_to account_follows_path(user), data: {method: 'post'} do
            .edit_btn
              .edit_text
                follow

  .profile_info
    .profile_name
      #{user.display_name}
    .profile_introduction
      = user.profile&.introduction
  - if current_user == user
    .following_article
      = link_to 'フォローしたアカウントの記事一覧へ', timelines_path, class: 'text-decoration'  

.cards.profile_cards
  - user.articles.each do |a|
    .card
      .article_toppage
        .book_image
          = image_tag a.image_url
        .article_details
          .article_title
            = a.title
          .booktitle
            = a.book_title
          .author_name
            = a.author
          .article_toppage_content
            = a.content[0,100]
      .article_toppage_heart
        = image_tag 'heart.svg', class: 'iine-image'
        %span= a.likes.count

          
      
      

