.profile#profile-show{data: {following_id: user.id, follower_id: current_user.id}}
  = image_tag user.avatar_image, class: 'icon'
  #{user.display_name}
  = user.profile&.introduction

  .profile_actionButton
    - if user == current_user 
      = link_to '編集する', edit_profile_path, class: 'text-decoration'
      .cards
        - @articles.each do |article|
          = link_to article_path(article), class: 'card' do
            = image_tag article.image_url
            = article.book_title
            = article.author
            = article.title
    - else 
      - if current_user&.has_followed?(user)
        = link_to 'Unfollow',account_unfollows_path(user), data: {method: 'post'}, class: 'text-decoration  unfollow'
      - else
        = link_to 'Follow', account_follows_path(user), data: {method: 'post'}, class: 'text-decoration  follow'
      
      

